* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

i {
    padding: 0 .3rem;
    color: rgb(164, 164, 164);
}

img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

li {
    list-style: none;
}

.big-container {
    position: relative;
    max-width: 1500px;
    margin: auto;
}

.green-header {
    height: 100px;
    background-color: rgb(0, 150, 136);
}

.gray-body {
    height: calc(100vh - 100px);
    background-color: rgb(217, 219, 212);
}

.main-area {
    display: flex;
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    height: 90%;
    background-color: white;
}

aside {
    width: 400px;
    height: 100%;
    background-color: rgb(233, 233, 233);
}

main {
    width: 700px;    
    height: 100%;
    background-image: url('../img/mine.jpg');
    background-size: auto;
}

.aside-top, .main-top {
    height: 10%;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(234, 234, 234);
}

.aside-top {
    border-right: 2px solid rgb(198, 198, 198);
}

.user-info {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: .9em;
}

.aside-notification {
    height: 10%;
    padding: .5rem;
    display: flex;
    align-items: center;
    background-color: rgb(142, 218, 252);
}

.aside-notification i {
    margin-left: .7rem;
    color: rgb(142, 218, 252);
    padding: .7rem .6rem;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
}

.aside-text {
    margin-left: 1rem;
    font-size: .9em;
}

.aside-text a {
    font-size: .8em;
    color: gray;    
}

.search-contact-container {
    padding: 0 1rem;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-contact {
    width: 380px;
    height: 30px;
    border: none;
    padding: 0 1rem;
}

.aside-main {
    overflow-y: auto;
    height: calc(100% - 20% - 7%);
    background-color: white;
}

.contacts-list {
    display: flex;
    align-items: center;
    padding: .8rem 0 .8rem 1rem;
    gap: .5rem;
    border-bottom: 1px solid gray;
    position: relative;
}

.contacts-list:hover {
    cursor: pointer;
    background-color: rgb(234, 234, 234);
}

.last-message {
    color: gray;
    font-size: .8em;
}

.chat-date {
    white-space: nowrap;
    position: absolute;
    top: 15px;
    right: 5px;
}

main {
    position: relative;
}

.main-main {
    height: calc(100vh - 30%);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 3rem 4rem;
    gap: 1rem;
}

.message {
    font-size: .9em;
    padding: 1rem;
    max-width: 45%;
    min-width: 45%; 
    flex: 0 1 auto;
    border-radius: .5rem;
    position: relative;
    overflow-wrap: break-word;
    padding-bottom: 1.3rem;
}

.message-sended {
    align-self: flex-end;
    background-color: rgb(213, 249, 186);
}

.message-received {
    align-self: flex-start;
    background-color: white;
}

.hours {
    position: absolute;
    bottom: 3px;
    right: 5px;
}

.main-symbol {
    position: absolute;
    top: 5px;
    right: 0;
}

.main-symbol i:hover {
    cursor: pointer;
    color: black;
}

.drop-down-menu {
    position: absolute;
    top: 45px;
    right: 0;
    box-shadow: 1px 1px 4px black;;
    background-color: white;
    z-index: 9;

    display: none;
}

.drop-down-menu li {
    padding: .4rem 0;
}

.drop-down-menu li:hover {
    cursor: pointer;
    background-color: lightgray;
}

.main-bottom {
    background-color: rgb(229, 221, 213);
    height: 9%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.send-message input {
    height: 40px;
    width: 550px;
    border: none;
    border-radius: 5px;
    padding: 0 .6rem;
}

.main-bottom i {
    color: gray;
}