* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Lato', sans-serif;
}

body {
	display: flex;
	height: 100vh;
	padding: 1.5rem;
	background: linear-gradient(to bottom, #009688 15%, #D8DBD6 15% 100%);
}

.container {
	flex: 0 0 100%;
	display: flex;
	margin: auto;
	max-width: 1000px;
	height: 100%;
}

.area-left {
	display: flex;
	flex-direction: column;
	flex: 0 0 35%;
	background-color: rgb(233, 233, 233);
	font-size: .8em;
}

.area-left .user-info {
	display: flex;
	align-items: center;
	gap: .5rem;
	padding: .4rem 1rem;
	background-color: #EAEAEA;
	border-right: 1px solid black;
}

.area-left .user-info .avatar-user {
	flex: 0 0 60px;
	height: 60px;
	object-fit: cover;
	object-position: center;
	border-radius: 100px;

}

.area-left .user-info .username {
	flex: 1 0 auto;
}

.area-left .notifications {
	display: flex;
	gap: 1rem;
	padding: .5rem 1rem;
}

.search-contact input {
    width: 412px;
    height: 39px;
    border: none;
    padding: 0 1rem;
}

.notifications {
    background-color: rgb(142, 218, 252);
    padding: .7rem .6rem;
    color: white;
	font-size: .9em;
    display: flex;
    align-items: center;
}

.bell {
	border: 1px solid white;
	padding: .6rem;
	border-radius: 50%;
}

.area-left .notifications .bell i {
	margin: auto;
}

.area-left  .contacts {
	flex: 1 0 0;
	overflow-y: scroll;
}

.contact {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: .5rem;
	border-top: 1px solid black;
}

.contact:hover{
	cursor: pointer;
	background-color: lightgray;
}

.contact img {
	flex: 0 0 80px;
	height: 60px;
	object-position: center;
	border-radius: 100px;
}

.contact .details {
	flex: 1 0 0;
}

.contact .first-line {
	display: flex;
	gap: .5rem;
}

.contact .username {
	flex: 1 1 auto;
	width: 0;
	white-space: nowrap;
	overflow-x: hidden;
}










.area-right {
	flex: 0 0 65%;
	background-image: url('../img/mine.jpg');
	background-size: auto;
}

.area-right > div {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.area-right .user-info {
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	gap: .5rem;
	padding: .3rem 1rem;
	background-color: #EAEAEA;
}

.area-right .user-info .avatar-user {
	flex: 0 0 60px;
	height: 60px;
	object-fit: cover;
	object-position: center;
	border-radius: 100px;

}

.area-right .user-info .username {
	flex: 1 0 auto;
}

.area-right .messages {
	flex: 1 0 0;
	display: flex;
	flex-direction: column;
	padding: 3rem 5rem;;
}

.messages .message {
	position: relative;
	flex: 0 1 auto;
	margin-bottom: .5rem;
	padding: 1em;
	min-width: 125px;
	max-width: 45%;
	border-radius: .5em;
}

.messages .message.message-sent {
	align-self: flex-end;
    background-color: rgb(198, 245, 162);
	overflow-wrap: break-word;
}

.messages .message.message-received {
	align-self: flex-start;
	background-color: white;
}

.message .sent-date {
	position: absolute;
	right: .5em;
	bottom: .5em;
	font-size: .7em;
}

.message .drop-down-menu {
	display: none;
	padding: .5em;
}

.message .drop-down-menu:hover {
	cursor: pointer;
}

.message:hover .drop-down-menu {
	display: block;
	position: absolute;
	right: .5em;
	top: .5em;
}















.message .message-menu {
	position: absolute;
	right: 0;
	top: calc(100% - 5px);
	list-style: none;
	background-color: white;
	box-shadow: 0 0 5px #888888;
	z-index: 10;
}

.message .message-menu li {
	padding: 1rem;
}

.message .message-menu li:hover {
	cursor: pointer;
	background-color: #EAEAEA;
}

.message {
	font-size: .9em;
}

.area-right .message-bar {
	flex: 0 0 auto;
}

.message-bar {
	padding: 0 .3rem;
}

.message-bar input{
	width: 100%;
	height: 35px;
	padding: 0 .3em;
}