<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <!-- font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

        <!-- font-awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

        <!-- style -->
        <link rel="stylesheet" href="css/style.css">
        <style>
            [v-cloak] { 
                display: none 
            }
        </style>

        <!-- Js -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js" defer></script>
	    <script src="js/script.js" defer></script>
    </head>
    <body>
       <div class="big-container">
            <div class="green-header"></div>
            <div class="gray-body"></div>

            <div v-cloak id="root">                  
                <div class="main-area">
                    <aside>
                        <div class="aside-top">
                            <div class="user-info">
                                <img src="img/avatar_io.jpg" alt="">
                                <div class="user-name">Sofia</div>                                
                            </div>
                            <div class="profile-icons">
                                <i class="fa-solid fa-circle-notch"></i>
                                <i class="fa-solid fa-message"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>

                        <div class="aside-notification"> 
                            <i class="fa-solid fa-bell-slash"></i>
                            <span class="aside-text">
                                Ricevi notifiche di nuovi messaggi <br>
                                <a href="#">Attiva notifiche desktop</a>
                            </span>
                        </div>
                        <div class="search-contact-container">
                            <label for="search-contact">
                                <input type="text" name="search-contact" id="search-contact" placeholder="Cerca o inizia una nuova chat">

                                <!--PER IL SEARCH GUARDA QUA 
                                    https://blog.logrocket.com/create-search-bar-vue/ -->
                            </label>
                        </div>

                        <div class="aside-main">
                            <ul>
                                <li>
                                    <div v-for="(element, index) in contacts" class="contacts-list">
                                        <img :src="'img/avatar'+ element.avatar+'.jpg'">  
                                        <div class="contact-info">
                                            <h4>{{ element.name }}</h4>
                                            
                                            <div class="last-message">
                                                {{ element.messages[element.messages.length - 1].message }}
                                            </div>  
                                        </div>
                                        <span class="last-message chat-date">{{ element.messages[element.messages.length - 1].date }}</span>
                                                                      
                                    </div>
                                </li> 
                            </ul>
                        </div>
                    </aside>

                    <main>
                        <div class="main-top">
                            <div class="selected-contact">
                                <img :src="'img/avatar' + contacts[activeIndex].avatar + '.jpg'"> 
                                <div>{{contacts[activeIndex].name}}</div>                              
                            </div>
                            <div class="chat-icons">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-paperclip"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                        
                        <div class="main-main">
                            <div v-for="element in contacts[activeIndex].messages" class="message" :class="'message-' + element.status">
                                {{ element.message }}
                                <div class="last-message hours">
                                    {{ element.date }}
                                </div>
                                <div class="main-symbol">
                                    <i class="fa-solid fa-chevron-down"></i>
                                </div>
                                <ul class="drop-down-menu">
                                    <li>Message info</li>
                                    <li>Delete message</li>
                                </ul>
                            </div>
                        </div>

                        <div class="main-bottom">
                            <i class="fa-regular fa-face-smile"></i>
                            <div class="send-message">
                                <input type="text" name="" id="" placeholder="Scrivi un messaggio">
                            </div>
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </main>
                </div>
            </div>
       </div>
    </body>
</html>